<h1>{{ vm.title }}</h1>
<hr />

<p>El Item seleccionado del modal es: {{ vm.selectedItem }}<p>

<button type="button" class="btn btn-primary" ng-click="vm.openModal()">Open me!</button>

<button type="button" class="btn btn-primary" ng-click="vm.nested.reloadData(true, {})">Reload data</button>

<h2>Datatables</h2>

<div class="panel panel-default panel-datatables">
    <div class="panel-heading clearfix">
        <div class="pull-left" style="margin-top: 10px;">
            <h3 class="panel-title">Listado de Personas</h3>
        </div>
        <div class="pull-right dt-select-length">

        </div>
    </div>
    <table datatable="" 
           dt-instance="vm.nested.dtInstance" 
           dt-options="vm.nested.dtOptions"
           dt-columns="vm.nested.dtColumns" 
           class="table table-striped"
           width="100%">
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-5 dt-info-results"></div>
            <div class="col-md-7 dt-pagination"></div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul>
            <li ng-repeat="item in $ctrl.items">
                <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ $ctrl.selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.accept()">OK</button>
        <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>