<h1>{{ vm.title }}</h1>
<hr />


<!-- <button type="button" class="btn btn-primary" ng-click="vm.nested.reloadData(true, {})">Reload data</button> -->
<!-- bs-loading-overlay-template-url="./templates/loading-overlay.html" -->
<div id="loading-dt-books" 
     class="bs-loading-container" 
     bs-loading-overlay
     bs-loading-overlay-reference-id="first"
     
     bs-loading-overlay-active-class="loading-overlay--active">
      wefwfwef
      wefwfwef<br />     
      wefwfwef<br />     
      wefwfwef<br />     
      wefwfwef<br />     
      wefwfwef<br />     
</div>

<div class="form-group">
    <form id="frm_search_books" name="frm_search_books"  ng-submit="vm.nested.reloadData(true, {})">
        <div class="form-group">
            <label for="search_title">Título</label>
            <input type="text"
                   class="form-control" 
                   id="search_title"
                   name="search_title"
                   ng-model="vm.form.data.title"  />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i> 
                Buscar
            </button>
        </div>
    </form>
</div>

<div class="panel panel-default panel-datatables">
    <div class="panel-heading clearfix">
        <div class="pull-left" style="margin-top: 10px;">
            <h3 class="panel-title">Listado de Libros</h3>
        </div>
        <div class="pull-right">
            <div class="pull-left">
                <button ng-click="vm.openModal({})"
                        class="btn btn-success">
                    <i class="fa fa-plus"></i> 
                    Agregar
                </button>
            </div>
            <div class="pull-left dt-select-length"></div>

        </div>
    </div>
    
      <table datatable="" 
             dt-instance="vm.nested.dtInstance" 
             dt-options="vm.nested.dtOptions"
             dt-columns="vm.nested.dtColumns" 
             class="table table-striped"
             width="100%">
      </table>
 
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-5 dt-info-results"></div>
            <div class="col-md-7 dt-pagination"></div>
        </div>
    </div>
</div>

<!-- Modal gestión de libros -->
<script type="text/ng-template" id="modalFormBook.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            {{ $ctrl.form.data.id ? 'Editar libro' : 'Crear libro' }}
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form id="frm_books" name="frm_books" novalidate="novalidate" ng-submit="$ctrl.save();">
            <div class="form-group">
                <label for="title">Título</label>
                <input class="form-control"
                       id="title"
                       name="title"
                       ng-model="$ctrl.form.data.title"
                       ng-required="true" />
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea class="form-control"
                       id="description"
                       name="description"
                       style="heigth: 100px; resize:none;"
                       ng-model="$ctrl.form.data.description"
                       ng-required="true"></textarea>
            </div>

            <div class="form-group">
                <label for="quantity">Cantidad</label>
                <input class="form-control"
                       id="quantity"
                       name="quantity"
                       ng-model="$ctrl.form.data.quantity"
                       ng-required="true" />
            </div>

            <div class="form-group">
                <label for="price">Precio</label>
                <input class="form-control"
                       id="price"
                       name="price"
                       ng-model="$ctrl.form.data.price"
                       ng-required="true" />
            </div>

            <div class="form-group">
                <label for="author_id">Autor</label>
                <input class="form-control"
                       id="author_id"
                       name="author_id"
                       ng-model="$ctrl.form.data.author_id"
                       ng-required="true" />
            </div>

            <div class="form-group">
                <label for="publisher_id">Publicador</label>
                <input class="form-control"
                       id="publisher_id"
                       name="publisher_id"
                       ng-model="$ctrl.form.data.publisher_id"
                       ng-required="true" />
            </div>
            <button type="submit" 
                    id="btn-submit-book" 
                    class="btn btn-primary hide">
                submit
            </button>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" 
                type="button"
                onClick="angular.element('#btn-submit-book').submit()" 
                >Guardar</button>
        <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
    </div>
</script>