<h1>{{ vm.title }}</h1>
<hr />
<div class="form-group">
    <form id="frm_search_books" name="frm_search_books"  ng-submit="vm.nested.reloadData(true, {})">
        <div class="form-group">
            <label for="search_title">Título</label>
            <input type="text"
                   class="form-control" 
                   id="search_title"
                   name="search_title"
                   ng-model="vm.form.data.title"  />
        </div>
        <div class="form-group">
            <label for="search_author">Autor</label>
            <template-select2
                items="vm.authors.data"
                placeholder="Seleccionar"
                control="vm.author"
                theme="select2"
                element-id="search_author"
                search="true"
                on-change="vm.evtChangeAuthor(vm.author.selected)"
                disabled="vm.authors.loading"
                allow-clear="true"
            ></template-select2>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i> 
                Buscar
            </button>
        </div>
    </form>
</div>

<pre>{{ vm.form.data | json }}</pre>

<div class="panel panel-default panel-datatables">
    <div class="panel-heading clearfix">
        <div class="pull-left" style="margin-top: 10px;">
            <h3 class="panel-title">Listado de Libros</h3>
        </div>
        <div class="pull-right">
            <div class="pull-left">
                <button ng-click="vm.openModal({})"
                        class="btn btn-success">
                    <i class="fa fa-plus"></i> 
                    Agregar
                </button>
            </div>
            <div class="pull-left dt-select-length"></div>

        </div>
    </div>
    
    <div id="loading-dt-books" 
          class="bs-loading-container" 
          bs-loading-overlay
          bs-loading-overlay-reference-id="loading-dt-books">  
        <table datatable="" 
               dt-instance="vm.nested.dtInstance" 
               dt-options="vm.nested.dtOptions"
               dt-columns="vm.nested.dtColumns" 
               class="table table-striped"
               width="100%">
        </table>
    </div>  
 
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-5 dt-info-results"></div>
            <div class="col-md-7 dt-pagination"></div>
        </div>
    </div>
</div>